@import "../../var.scss";

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-header;
    
    color: $color-accents;
    border-bottom:  solid 6px $color-accents;
    min-height: 930px;
    gap: 50px;
    margin-bottom: 20px;
    
    .ti-cursor{
        width: var(--ti-cursor-color, white);
    }
    .Name{
        width: 550px;
        font-size: 75px;
        margin-left: 150px;
    }

    .portrait{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        margin-right: 350px;
        img{
            width: 400px;
            height: 400px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
        
    }

    


