@import "../../var.scss";

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-header;
    
    color: $color-accents;
    border-bottom:  solid 6px $color-accents;
    min-height: 930px;
    gap: 50px;
    margin-bottom: 20px;
    
    .ti-cursor{
        width: var(--ti-cursor-color, white);
    }
}

.Name{
    font-size: 75px;
    margin-left: 150px;
}

