@import "../../var.scss";

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-header;
    
    color: white;
    border-bottom:  solid 3px $color-accents;
    min-height: 350px;
    gap: 50px;
}

.Name{
    font-size: 75px;
    margin-left: 150px;
}

.ti-cursor{
    width: var(--ti-cursor-width, 15px);
}