@import "../../var.scss";

.projets{
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 5px 0px 2px rgba(255, 191, 0, 1);
    width: 80%;
    margin: auto;

    .space-around{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    h3{
        padding: 10px;
        color: black;
    }
}