@import "../../var.scss";

    
    .space-around{
        width: 100%;
        .nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            button{
                cursor: pointer;
                background-color: white;
                border: none;
                font-size: 20px;
                font-weight: 600;
                width: 100%;
                padding: 20px;
                color: black;
            }
            .active{
                background-color: #d6d6d6;  
            }
        }
        .bar{
            height: 10px;
            width: 100%;
            background-color: $color-accents;
            margin-bottom: 15px;
        }
        
    }
    
    
    
    .tab-content{
        h4{
            font-size: 20px;
            text-align: center;
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
            p{
                padding: 10px;
                text-align: center;
            }
            .lien{
                cursor: pointer;
                font-size: 15px;
                padding: 5px 20px 5px 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                border: none;
                background-color: $color-accents;
                border-radius: 15px;
                color: white;
            }
            img{
                width: 60%;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .space-around{
            .nav{
                flex-direction: column;
                button{
                    font-size: 15px;
                }
            }
        }
        .tab-content{
            div{
                display: flex;
                flex-direction: column-reverse;
                .lien{
                    padding: 5px;
                }
            }
        }
        
    }
