@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');
@import "./var.scss";



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

p, label{
    font-family: 'Signika', sans-serif;
    font-weight: 500;

}

h1, h2, h3, h4{
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    color: #ffbf00;
}

h2{
    text-align: center;
}

.app{
    position: relative;
    background-color: #121210;
    opacity: 1;
    background-image: radial-gradient(#ffbf00 1.3px, #121210 1.3px);
    background-size: 26px 26px;
}

@media screen and (max-width: 768px) {
    .desktop{
        display: none;
    }
    .tel{
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .desktop{
        display: block;
    }
    .tel{
        display: none;
    }
}