@import "../../var.scss";


.competence{
    width: 80%;
    background-color: white;
    box-shadow: -5px 5px 0px 2px rgba(255, 191, 0, 1);
    margin:  75px auto;
    h2{
        font-size: 30px;
        padding: 10px;
    }

    &:hover .load-competence{
        animation-play-state: paused;
    }


    .load-competence{
        height: 10px;
        width: 100%;
        background-color: $color-accents;
        animation: progressAnimation 30s linear infinite;

        
    }

}


@keyframes progressAnimation{
    0% {width: 0%;}
    100% {width: 100%;}
}
