@import "../../var.scss";

.slider{
    display: flex;
    justify-content: space-between;
    // .slider-content:hover{
    //     animation-play-state: paused;
    // }
    i{
        font-size: 150px;
        color: black;
    }
}

.button-right{
    border: none;
    background: none;
    
}

.button-left{
    border: none;
    background: none;
    
}

.slider-content{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 25px;
    i{
        color: $color-accents;
        opacity: 0.3;
    }
    p{
        position: absolute;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 20px;

        .ti-cursor{
            width: var(--ti-cursor-second-color, black);
        }
    }
}

